
body {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    padding: 22px;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: justify; */
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    
  }

  .year{
    color:grey;
  }

  .text{
    max-width: 350px;
  }

.container {
    column-width: 350px;
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
    /* column-rule-style: solid; */
    /* height: 1000px; */
    /* column-count: auto; */
    /* column-fill: balance; */
  }

  li::after {
    content: "\A \A ";
    white-space: pre;
}

ul {
    list-style-type: none;
  }

.note {
  font-size: 0.7em;
  }

/* artwork/reference style */

.category {
    text-decoration: underline;
    font-size: 1em;
  }

  
h1 {
    font-weight: normal;
  }

  /* .child {
    opacity: 1;
    transition: 0.4s;
  }
  
 .child :hover {
    opacity: 1;
  }


 .child:not(:hover) {
  opacity: 0.4;
 } */
